.gridscrolling-overview {
    background-color: grey;
}

.gridscrolling-overview.gridscrolling-looking-at {
    background-color: blue;
}

#gridscrolling-overview {
    border: solid 1px black;
}

.gridscrolling-marker {
    position: fixed;
    width: 0; 
    height: 0; 
}

#gridscrolling-top-marker {
    border-bottom: 20px solid grey; 
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}

#gridscrolling-bottom-marker {
    border-top: 20px solid grey; 
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
}

#gridscrolling-left-marker {
    border-right: 20px solid grey;
    border-top: 60px solid transparent; 
    border-bottom: 60px solid transparent; 
}

#gridscrolling-right-marker {
    border-left: 20px solid grey;
    border-top: 60px solid transparent; 
    border-bottom: 60px solid transparent; 
}